

/* -----------div tips------------- */


  .homework {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: #03537B ;
    background-color: #CDE7F5;
    border: solid 5px #03537B;
    background-image: url("study.png")
  }
  
  
   .resources {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: #443F1F;
    background-color: #e5d468;
    border: solid 5px #443F1F;
    background-image: url("list.png")
  }



.keyidea{
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: #441F29;
    background-color: #E56889;
    border: solid 5px #441F29;
    background-image: url("important.png") 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
